.image {
    position: relative;
    margin-top: 80px;
    position: relative;
    left: 20px;
    @media(min-width: 768px) {
        margin-bottom: 40px;
        left: 0px;
    }
    &:before {
        content: '';
        width: calc(100% + 50px);
        height: 100px;
        border-radius: 50%;
        background: #b50e0e;
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        transform: rotate(27deg);
    }
    &.odd {
        &:before {
            background-color: #6db233;
        }
    }
    img {
        position: relative;
        border-radius: 10px;
        z-index: 1;
        max-width: 400px;
        height: auto;
    }
}